// Figure

.fig-pfp {
    border-radius: 20px;
    background-color: $bg-alt-color;
    padding: 15px;
    margin: 15px;
    width: fit-content;

    figcaption { margin-top: 15px; }
}

.pfp {
    display: flex;
    border-radius: 50%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

// Misc

.header, .footer {
    flex: 0 0 auto;
}

.title, .logo {
    padding: 3em 3em 3em 0;
}

.logo {
    width: 256px;
}

@media (max-width: 767px) {
    .title, .logo { padding: 1em 1em 1em 0; }
    .title { min-width: 50%; }
    .title h1 { text-align: left; }
    .logo { max-width: 30%; }
    h1, h2, h3, h4, h5, h6 { text-align: center; }

    .main {
        p { 
            margin: 5px 0 !important; 
            text-align: center;
        }
    }
}

.title {
    * { color: $bg-alt-color; }

    p { font-style: italic; }
}
